{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 firefox version",
          "last 2 chrome version",
          "last 1 safari version",
          "not ie <= 11",
          "not op_mini all"]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ]
    }
}
}
