// global styles
@import './_settings';
@import '~modularscale-sass/stylesheets/modularscale';
@import './utils/text-crop';

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

:root{
    overflow: hidden;
    height: 100%;
    height: 100vh;
    font-family: "system";
    font-size: 100%;
}

$modularscale: (
    base: 1rem,
    ratio: 1.2,
);

body {
    padding: 2rem;
    margin: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    -webkit-backface-visibility:hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    overflow: auto; 
}

h1 {
    font-size: ms(5);
    // @include ms-respond(font-size,5);
}
h2 {
    font-size: ms(4);
    // include ms-respond(font-size,4);
}
h3 {
    font-size: ms(3);
    // @include ms-respond(font-size,3);
}
h4 {
    font-size: ms(2);
    // @include ms-respond(font-size,2);
}
p{
    @include text-crop;
    font-size: ms(1);
    // @include ms-respond(font-size, 1);
}

.my {
    color: orange;

    p{
        color: blue;
    }
}